
html {
	background-color: #fff;
}
/*some modifications*/
@media screen and (max-width: 479px) {
	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 90%;
		width: 99%;
		max-width: 960px;
		margin: 0 auto;
		border: 3px solid #931420;
		background-color: #fffded;
	}
}

a:hover, a:focus {
	font-style: italic;
}



@media screen and (max-width: 767px) {

	header img {
		float: none;
		padding-left: 0.105%;
		padding-right: 0.105%;
	}

	header {
		border-bottom: 3px solid #931420;
		padding: 1.5em 0 2em;
		text-align: center;
		background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	}
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

header .shadow {
	text-shadow: 2px 2px 3px #800000;
}
#nav_menu{
	position:relative;
}
#mobile_menu{
	display: none;
}
#nav_menu ul {
	/* width: 100%; */
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav_menu ul li {
	width: 13.334%;
	float: left;

}

#nav_menu ul li a {
	display: block;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: #fff;
	font-weight: bold;
	width: 60%;
}

#nav_menu ul li a.current {
	color: yellow;
}

#nav_menu ul ul {
	width: 13.334%;
	display: none;
	position: absolute;
	top: 100%;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

#nav_menu ul ul li {
	float: none;
	width: 13.334%;
}

#nav_menu ul li:hover  ul {
	display: block;
}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
main {
	clear: left;
	padding: 0;
}

/* section styles changed*/
@media screen and (max-width: 767px) {
	section {
		width: 54.6875%;
		float: right;
		padding-left: 3.13%;
		padding-right: 3.13%;
		padding-bottom: 20px;
	}

	aside {
		float: right;
		padding-right:2.84%;
		width: 22.4%;
		padding-left: 20px;
		padding-bottom: 20px;
	}
}

section p {
	padding-bottom: .5em;
}

section blockquote {
	padding: 0 2em;
	font-style: italic;
}
@media screen and (max-width: 959px) {

	section h1 {
		font-size: 135%;
		padding-top: .5em;
		padding-bottom: .25em;
		margin: 0;
	}

	section h2 {
		font-size: 120%;
		color: #800000;
		padding: .5em 0 .25em;
	}
}
section ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}

section li {
	padding-bottom: .35em;
}


article {
	padding-top: .5em;
	padding-bottom: .5em;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article h1 {
	color: darkred;
	font-size: initial;
}

article h2 {
	padding-top: 0;
}

article h3 {
	font-size: 104%;
	padding-bottom: .25em;
}
@media screen and (max-width: 767px) {
	article img {
		float: right;
		margin: .5em 0 .5em 1em;
		border: 1px solid #000;
		max-width: 38%;
		min-width: 150px;
		margin-top: 1px;
		margin-bottom: 1px;
		margin-right: 1px;
		margin-left: 1px;
	}
}




aside h2 {
	font-size: 130%;
	color: #800000;
	padding: .5em 0 .25em;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

aside img {
	padding-bottom: 1em;
}
@media screen and (max-width: 767px) {
	aside div{
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count:2;
	}

}
.slicknav_menu{
	display: none;
}
@media screen and (max-width: 767px) {
	.js#menu{
		display: none;
	}
	.js.slicknav_menu{
		display: block;
	}
	.slicknav_menu{
		background-color: #800000;
	}
}
/* the styles for the footer */
footer {
	clear: both;
	background-color: #931420;
}

footer p {
	color: #fff;
	text-align: center;
	padding: 1em 0;
}